.access-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(var(--spacing) * 5);
}

.access-card {
    padding-top: .5rem;
}

.access-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: calc(var(--spacing)*3);
}

.access-card-content {
    color: var(--text-muted);
}

.access-card-btn-grp {
    display: flex;
    gap: calc(var(--spacing) * 2)
}

.view-access-sm-btn {
    display: none;
}

.access-additional-content {
    margin-top: calc(var(--spacing)*10);
}

.access-additional-content h4 {
    font-size: var(--text-md);
}

.access-additional-content li {
    color: var(--text-muted);
    font-weight: var(--font-weight-medium);
}

.approve-text {
    color: var(--success);
    font-weight: var(--font-weight-semibold);
}

.deny-text {
    color: var(--destructive);
    font-weight: var(--font-weight-semibold);
}

@media (max-width: 1200px) {
    .access-content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 480px) {
    .access-card-btn-grp {
        justify-content: space-between;
    }

    .access-time {
        display: none;
    }

    .view-access-lg-btn {
        display: none;
    }

    .lg-modal {
        display: none;
    }

    .view-access-sm-btn {
        display: block;
    }
}