.role-badge {
    width: 5rem;
    justify-content: center;
}

#admin-register-form, #admin-edit-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
}

#admin-register-form > *, #admin-edit-form > * {
    gap: calc(var(--spacing) * 2);

}

#delete-account .delete-content {
    font-size: var(--text-md);
}

.delete-content > .admin-id, .admin-type {
    color: var(--destructive);
    font-weight: var(--font-weight-semibold); 
}