services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./:/var/www/html:cached
      - storage-cache:/var/www/html/storage/cache
    ports:
      - "8080:80"
    env_file:
      - ./.env
    depends_on:
      - db
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4 

  db:
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    restart: unless-stopped  

volumes:
  db-data:
  storage-cache: