/* components/button.css - shadcn-inspired look (black & white theme) */

/* Base */

.badge{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: .25rem .5rem;
    gap: .25rem;
    border: 1px solid transparent;
    border-radius: calc(var(--radius-4xl));
    color: var(--text-primary);
    font-size: .875rem;
    font-weight: var(--font-weight-md);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Variants */
.badge-primary {
    background: var(--primary);
    color: var(--text-inverted);
}
.badge-secondary {
    background: var(--secondary);
    color: var(--text-primary);
}
.badge-outline {
    background: t;
    color: var(--text-inverted);
    border: var(--border);
}

.badge-destructive {
    background: var(--destructive);
    color: var(--text-inverted);
}
.badge-success {
    background: var(--success);
    color: var(--text-inverted);
}

.badge-green{
    background-color: #85E59466;
    color: #329340;
}
.badge-red{
    background-color: #E4878766;
    color: #ED4A4A;
}

.badge-purple{
    background-color: #D885E54d;
    color: #A962A8;
}

.badge-yellow{
    background-color: #F8FD6A66;
    color: #CEA92E;
}

.badge-blue{
    background-color: #7eb8d166;
    color: #15718b;
}


.icon-only{
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: calc(var(--radius-4xl));
    display: flex;
    align-items: center;
    justify-content: center;
}
