/* View card in modal styling */
.view-slot {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem; /* spacing between items */
}

.view-slot-item {
    display: flex;
    flex-direction: row;
    gap: calc(var(--spacing) * 1.5)

}

.view-slot-item > .slot-icon {
    padding: var(--spacing);
    border-radius: var(--radius-md);
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface);
    height: 100%;
}

.view-slot-item > .slot-content {
    display: flex;
    flex-direction: column;
}

.slot-content span:first-child {
    color: var(--text-muted);
    font-size: var(--text-xs);
}

.slot-content span:last-child {
    color: var(--text-strong);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-md);
}

.view-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.view-list .area-title{
    font-size: var(--text-md);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
}

.view-list .area-list ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style-type: disc;
    padding-left: 1.5rem;
}
.view-list .area-list ul li{
    font-size: var(--text-md);
    color: var(--text-muted);
}