.sidebar{
    display: flex;
    flex-direction: column;
    width:16rem;
    height: 100vh;
    background: var(--primary-50);
}
.sidebar-header {
    padding: 1.125rem 1.5rem;
    background-color: #f1f1f1;

}

.sidebar-section{
    padding: 1.125rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;justify-items: center;
    align-items: center;

}

a{
    all:unset;
}


#tab{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--radius-lg);
    padding: .625rem .75rem;
    color: var(--text-muted);
}

#tab:hover{
    background-color: #f1f1f1;
}

#tab.active{
    background-color: #eeeeee;
    color: var(--text-primary);
}





