.child-health-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
}

.child-health-form > div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
}

.child-col {
    white-space: nowrap;
}