.child-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
}

.child-form > div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
}

.child-col {
    white-space: nowrap;
}

.parent-link-group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing)*2);
    margin-top: calc(var(--spacing)*4);
    margin-bottom: calc(var(--spacing)*4);
}

.parent-link-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-100);
    padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4);
    border-radius: var(--radius-md);
}

.parent-link-card > .name-group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
}

.name-group > .parent-title {
    font-size: var(--text-md);
    font-weight: var(--font-weight-semibold);
}

.name-group > .parent-type {
    font-size: var(--text-sm);
    color: var(--text-muted);
    font-weight: var(--font-weight-medium); 
}

@media (max-width: 1280px) {
    .child-request-access-btn > span {
        display: none;
    }
}