#main {
    width: var(--container-7xl);
    margin: 20px auto;
}

.form-container {
    width: var(--container-lg);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
    justify-content: center;
    min-height: 90vh;
}

.form-container > .topic {
    text-align: center;
    line-height: var(--text-xs--line-height);
}

.form-container .footer {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: var(--text-sm);
}

.form-content > * {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing)*5);
}

/* #parent-login {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
} */

.forgot-password-group {
    margin-top: calc(var(--spacing)*5);
    text-align: end;
}

.sign-up-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 2);

}

#sign-in {
    display: inline-flex;
    justify-content: center;
}

.topic > h1 {
    font-size: var(--text-4xl);
    margin: 0;
}

.tab-links {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    background: var(--primary-100);
    border-radius: var(--radius-md);
    padding: var(--spacing);
}

.tab-links > a {
    flex: 1 1 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tab-links > a:hover {
    background-color: var(--bg);
}

.tab-links > a.active {
    background-color: var(--bg);
}

@media only screen and (max-width: 80rem) {
    #main {
        width: 100%;
    }
}

@media only screen and (max-width: 64rem) {
    .return-link-group {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 40rem) {

    .form-container {
        width: 100%;
        padding: 0 1rem;
    }

    .form-container .footer {
        width: 100%;
    }
}