#parent-register, #parent-register-final {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
}

#sign-up, #next-page {
    display: inline-flex;
    justify-content: center;
    margin-top: calc(var(--spacing)*5);
}

.terms-conditions-group {
    display: flex;
}