* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.top-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pill-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}



.container{
    width: 100%;
    margin: auto;
    display: grid;

}
.card{
    padding: 1.25rem 1rem;

}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: .25rem;
}
.card-title{
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);


}

.card-subtitle{
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
}