* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

}

.left-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.card {
    width: 100%;
    padding: 1.25rem 1rem;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: .25rem;
}

.card-title {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);


}

.card-subtitle {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tab-bg);
    padding: .75rem;
    border-radius: .5rem;


}

.primary-details {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.name {
    font-size: var(--text-md);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary);
    min-width: 6rem;
}

.sub-details {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.sub-name {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
}

.secondary-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .25rem;
}

.date {
    font-size: var(--text-md);
    font-weight: var(--font-weight-normal);
    color: var(--text-primary);
}

.divider {
    border: 0.8px solid var(--border);
}


.card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tab-bg);
    padding: .75rem;
    border-radius: calc(var(--radius-lg));

}

.header__left {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.profile-pic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;

}

.initials {
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child-info {
    display: flex;
    flex-direction: column;
}

.child-name {
    font-size: var(--text-md);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary);
}

.nickname {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
}

.info-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.section{
    display: flex;
    flex-direction: column;
    flex: 1 1 20rem;       
    gap: 1rem;
}

.section-title{
    font-size: var(--text-md);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
}

/* Responsive Design */

@media (max-width: 900px) {

    .container {
        flex-direction: column;
    }

    .left-col,
    .right-col {
        flex: 1;
    }
}