* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.title-section {
    display: flex;
    align-items: center;
    gap: .75rem;
}



.search-box {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid var(--muted-border);
    padding: .25rem 1rem;
    border-radius: 999px;
    min-width: 15rem;
    max-width: 40rem;
    width: 60%
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    padding: .45rem .5rem;
    font-size: .95rem;
    width: 100%;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;

}

.card {
    width: 25rem;
    gap: 1.25rem;
    padding: 1.25rem;
}

.card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tab-bg);
    padding: .75rem;
    border-radius: calc(var(--radius-lg));

}

.header__left {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.profile-pic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;

}

.initials {
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child-info {
    display: flex;
    flex-direction: column;
}

.child-name {
    font-size: var(--text-md);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary);
}

.nickname {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.detail-row {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .25rem;

}

.card-body .detail-row:nth-of-type(3) {
    width: 100%;
}

.label {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
}

.detail-value {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.value {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary);
}

.btn {
    margin-top: .5rem;
    justify-content: center;
    width: 100%;
    padding: 0;
}